.logo {
    font-weight: 700;
    font-size: 30px;
}

.link-secondary {
    color: red!important;
}

.nav-link:hover {
    color: red!important;
}

input[type="search"] {
    border: none;
}

.plus-badge {
    font-size: 10px;
    padding: 10px 10px;
    background: linear-gradient(101.67deg,#48cce0 7.24%,#505add 34.12%,#be40c0 62.93%);
}